.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00aeb3; 
  padding: 0.5rem 2rem;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 45px;
  max-height: 100%;
  object-fit: contain;
  background: transparent;
  display: block;
  border: none;
}     
nav {
  flex: 2;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #e0fafa;
}